@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scrollbehavior: true;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  background-color: white;
  color: white;
  border-radius: 9999px;
  width: 3rem;
  font-weight: 600;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper .swiper-button-next {
  position: absolute;
  right: 0;
  z-index: 50;
}

.swiper .swiper-button-prev {
  position: absolute;
  left: 0;
  z-index: 50;
}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
  width: 3.5rem;
  height: 3.5rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
  fill: black;
  font-size: 16px !important;
}
